#### compilation output (Lazarus)
/target/*.a
/target/*.compiled
/target/*.lfm
/target/*.o
/target/*.or
/target/*.ppu
/target/*.res
/target/*.so
/target/cevo
*.exe
*.dll

#### backup files (lazarus and delphi)
*.~*

#### Lazarus local files
*.lps

#### exclude AI files
/target/AI/*

#### local markdown to html converter
/README.html
