#### compilation output
*.dcu
*.ddp
*.drc
*.exe
*.map
*.rsm
/target/cevo.dll

#### backups by delphi
*.~*

# Note about *.cfg files.
# They are included to allow building from command line `dcc32 cevo.dpr`.
# They are not needed in any other way.
