#### compilation output
*.dcu
*.ddp
*.drc
*.exe
*.map
*.rsm
/target/cevo.dll

#### backups by delphi
*.~*

#### exclude AI files
/target/AI/*


#### dcc32 configuration files (*.cfg) are included to allow building from command line
